.app{
    background-color: #80808015;
}

.spinner{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-top: 10px solid #0000ff9c;
    animation: spiner 2s linear infinite;
}
@keyframes spiner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bg-primary{
    background-color: #0b83d4;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #0b83d4;
    border-radius: 1.5rem;
    color: #0b83d4;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.44rem 1.3rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #0b83d4 inset;
}
